{% block media_preview_widget %}
    {% spaceless %}
        {% if path is defined and path is not null %}
            {%  if type == 'image' %}
                <img width="250px" src="{{ asset(path) }}"/>
            {% elseif type == 'video' %}
                <video width="260" controls>
                    <source src="{{ asset(path) }}" type="video/mp4">
                </video>
            {% else %}
                <a download href="{{ asset(path) }}">
                   {{ asset(path) }}
                </a>
            {%  endif %}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block order_view_widget %}
    {% spaceless %}
        {% include '@App/Web/partial/order.html.twig'  with {
            'order': order,
            'showDelivery': true,
            'summary': false
        } %}
    {% endspaceless %}
{% endblock %}
