input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
textarea,
select {
  display: inline-block;
  border: 1px solid $color-border-darker;
  font-size: .875rem;
  padding: .75em;
  width: 100%;
  margin-bottom: .75em;
  border-radius: 0;
  background: $color-white;
  color: $color-black;
}

select {
  height: 40px;
}

input[type=checkbox] {
  display: block;
}

label {
  @extend %type-smaller;

  font-weight: bold;
}

button,
.btn,
%btn-primary {
  font-size: .9rem;
  font-weight: bold;
  display: inline-block;
  background: $color-brand-primary;
  border: 0;
  color: $color-white;
  padding: .8rem;
  text-align: center;
  width: 100%;

  @include respond-to(tablet) {
    width: auto;
  }

  &:hover {
    opacity: .85;
  }
}

%btn-secondary {
  @extend %btn-primary;

  background: $color-background-darker;
}

.back-btn {
  @extend %btn-secondary;
  @extend %type-smaller;

  margin-top: .5em;

  &:before {
    content: '\2190';
    display: inline;
    font-size: 1.2em;
    color: $color-white;
    padding: 0 0.3em 0 0;
  }
}
