// normalize
@import '~node.normalize.scss/normalize';
@import '~flickity/dist/flickity.min.css';

// apply a natural box layout model to all elements, but allowing components to change.
html {
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

// config
@import 'conf';

// helpers
@import 'helpers/layout';
@import 'helpers/visibility';
@import 'helpers/css3';

// base
@import 'base/typography';
@import 'base/forms';
@import 'base/tables';

body {
  overflow-x: hidden;

  @include respond-to(tablet) {
    padding-top: 25px;
  }
}

%container,
main {
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;

  @include respond-to(desktop) {
    max-width: 1200px;
    padding: 0 2.5rem;
  }
}

// partials
@import 'partials/header/all';
@import 'partials/footer/all';
@import 'partials/product-list';
@import 'partials/product-grid';
@import 'partials/products-toggle';
@import 'partials/slider';
@import 'partials/notification';
@import 'partials/order';
@import 'partials/product-carousel';

// pages
@import 'page/home';
@import 'page/product-view';
@import 'page/basket';
@import 'page/account';
@import 'page/orders';
@import 'page/printable-order';
@import 'page/contact';