{% extends '::web/standard_layout.html.twig' %}

{% block main %}
    <div style="text-align: center">
        <h1>{{ web.title }}</h1>
        {% include 'AppBundle:Web/Page/partials:slider.html.twig' %}

        <div class="intro">
            {{ web.intro|raw }}
        </div>

        <div class="boxed">
            <h2>{{ 'Nuestras Promociones'|trans }}</h2>
            <div class="product-grid">
                {% include '@App/Web/Product/partials/product-list.html.twig'  with {'products': highlights } %}
            </div>
        </div>

        {% include 'AppBundle:Web/partial:product-carousel.html.twig' with {
            title: 'Nuestras Novedades',
            products: novelties
        } %}
    </div>
{% endblock %}