// Hide only visually, but have it available for screen readers.
%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip: rect(0 0 0 0);
}

// overrides the visually-hidden
%visually-visible {
  position: static;
  width: auto;
  height: auto;
  margin: auto;
  font-size: inherit;
}

// hide text
%hidden-inner-text {
  overflow: hidden;
  text-indent: -99999px;
  white-space: nowrap;
}

// overrides the hide-text
%unhiden-inner-text {
  overflow: visible;
  text-indent: 0;
  white-space: normal;
}
