.notification {
  @extend %type-small;

  font-weight: bold;
  padding: 20px;
  margin: 20px 0;
  transition: opacity 1s;
  color: #fff;

  &--success {
    background-color: #4CAF50;
  }

  &--warning {
    background-color: #ff9800;
    opacity: 0.83;
  }

  &--info {
    background-color: #2196F3;
  }  

  &--error {
    background-color: #f44336;
  }

  &--popup {
    animation: notify 3s;
    -webkit-animation: notify 3s;
    position: fixed;
    right: 2rem;
    z-index: 99999;
  }
}

@keyframes notify {
  0% {
    top: 35%;
  }
  100% {
    top: 0%;
  }
}
