.notification {
  @extend %type-small;

  font-weight: bold;
  padding: 15px;
  margin: 20px 0;
  border-radius: 4px;

  &--success {
    color: #fff;
    background-color: #00a65a;
  }

  &--warning {
    color: #fff;
    background-color: #f0ad4e;
  }

  &--error {
    color: #fff;
    background-color: #dd4b39;
  }

  &--popup {
    animation: notify 3s;
    -webkit-animation: notify 3s;
    position: fixed;
    right: 2rem;
    z-index: 99999;
  }
}

@keyframes notify {
  0% {
    top: 35%;
  }
  100% {
    top: 0%;
  }
}
