.order {
    @extend %type-smaller;
    margin-bottom: 1em;

    input[name="quantity"] {
        width: 45px;
        height: 30px;
        padding-left: .1em;
        padding-right: .1em;
        display: inline-block;
    }

    button {
        @extend .fa-shopping-cart;
        @include fa-icon();
        display: inline-block;
    }
}