.order {
    margin-bottom: 1em;

    tbody,
    th {
        @extend %type-smaller;
    }

    tfoot {
        font-weight: bold;
    }

    input[name="quantity"] {
        width: 35px;
        height: 30px;
        padding-left: .1em;
        padding-right: .1em;
        display: inline-block;
    }

    button {
        @extend .fa-shopping-cart;
        @include fa-icon();
        height: 30px;
        display: inline-block;
    }
}