.page--contact {

  iframe {
    border: none;
    width: 100%;
    height: 210px;
  }

  .form,
  .info {
    margin-bottom: 2rem;

    @include respond-to(desktop) {
      display: inline-block;
      vertical-align: top;
      width: 48%;
    }
  }

  .form {
    textarea {
      height: 150px;
    }
  }

  .info {
    padding: 2rem;
    background: $color-background-lighter;

    @include respond-to(desktop) {
      float: right;
    }

    dd {
      margin-bottom: 1rem;
    }
  }
}