.page--home {

  @include respond-to(desktop) {
    h1 {
      display: none;
    }
  }

  .intro {
    margin: 2.5rem auto;
    max-width: 900px;
  }

  .banner {
    width: 100%;
  }

  .boxed {
    background: $color-background-lighter;
    padding: 1.5rem 1.5rem .5rem;

    article {
      border: none;
    }
  }
}
