.printable-order {
  display: block;
  width: 800px;
  margin: 0 auto;
  page-break-after: always;
  page-break-before: always;

  table {
    width: 100%;
  }

  .table--tax {
    @extend %type-smaller;
    width: auto;
    display: inline-block;

    @include respond-to(desktop) {
      width: 35%;
    }    
  }

  h1 {
    margin: .6rem 0;
  }
}