footer {
  @import "links";

  @extend %type-smaller;

  background: $color-background-gray;
  margin-top: 5em;
  padding: 2rem 2.5rem 1rem;

  .copyright {
    border-top: 1px solid $color-border-darker;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}