<div class="slider">
    {% for slide in web.sliderImages %}
        <div class="slider__slide fade">
            <img src="{{ slide.path | imagine_filter('slider') }}">
            <div class="slider__text">{{ slide.title }}</div>
        </div>
    {% endfor %}
</div>
