<div class="slider">
    {% for slide in web.sliderImages %}
        <div class="slider__slide fade">
            <img src="{{ slide.path | imagine_filter('slider') }}">
            {% if slide.title %}
                <div class="slider__text">{{ slide.title }}</div>
            {% endif %}
        </div>
    {% endfor %}
</div>
