<div class="product-carousel">
    <h2>{{ title }}</h2>
    <div class="product-grid">
        {% include '@App/Web/Product/partials/product-list.html.twig'  with {'products': products} %}
    </div>
</div>
