header {
  @import "top-bar";
  @import "cookie-bar";
  @import "navigation";
  @import "subnavigation";
  @import "burger";

  .logo {
    height: 50px;
    margin: 0.5rem;

    @include respond-to(desktop) {
      height: 70px;
      margin: 0 0 0 1rem;
    }
  }

  .heading {
    @include respond-to(desktop) {
      display: flex;
      vertical-align: middle;
      align-items: center;
    }
  }

  .order-summary {
    @extend .fa-shopping-cart;
    @include fa-icon();

    background: $color-basket-summary-btn;
    color: $color-white;
    display: block;
    padding: 0.4em 0.6em;
    width: 130px;

    @include respond-to(desktop) {
      margin-left: auto;
    }

    &:before {
      font-size: 1.5rem;
    }

    &:hover {
      opacity: 0.85;
    }

    &__amount {
      display: inline-block;
      float: right;
      font-weight: bold;
      padding-top: 0.2em;
    }
  }
}
