.navigation {
  @include clearfix;

  background: $color-nav;
  display: none;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 80%;
  z-index: 9999;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include respond-to(desktop) {
    display: block;
    overflow-y: initial;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: .6rem;
    width: 100%;
  }

  &--visible {
    display: block;
  }

  &--fixed {
    position: fixed;
    top: $top-bar-height;
    left: 0;
    opacity: 0.9;
    width: 100%;
    z-index: 999;
    padding: 0 2.5em;
  }

  &__item {
    color: $color-white;
    display: block;
    padding: 1em;

    @include respond-to(desktop) {
      float: left;
      padding: .75em .6em;
    }

    &:hover,
    &--active,
    &--expanded {
      background-color: $color-subnav;
    }

    &--selected {
      background: $color-background-gray;
      color: $color-text-main;
    }

    &--expandable,
    &--expanded {
      position: relative;
      cursor: pointer;

      &:after {
        @include fa-icon();
        content: "\f107";
      }
    }

    &--expanded {
      &:after {
        @include fa-icon();
        content: "\f106";
      }
    }

    &--search {
      padding: 0.4rem;

      label {
        display: none;
      }

      div {
        display: inline-block;
      }

      input,
      button {
        @include respond-to(desktop) {
          margin: 0;
          vertical-align: middle;
        }
      }

      input {
        border: none;

        @include respond-to(desktop) {
          padding: 0.3rem;
          max-width: 150px;
        }
      }

      button {
        @extend .fa-search;
        @include fa-icon();
    
        @include respond-to(desktop) {
          padding: 0.4rem;
          max-width: 150px;
        }
      }
    }
  }
}
