$top-bar-height: 24px;

.topbar {
  @extend %type-smaller;

  background: $color-contact-nav;
  padding: .15rem 1rem;
  width: 100%;
  z-index: 99999;

  @include respond-to(tablet) {
    position: fixed;
    top: 0;
    height: $top-bar-height;
  }

  &__item {
    color: $color-text-main;
    display: inline-block;
    margin-right: 1em;
    text-decoration: none;

    &--telephone,
    &--email,
    &--account {
      @include fa-icon();

      &:before {
        margin-right: 0.3em;
      }

      @include respond-to(tablet) {
        margin-top: 3px;
      }
    }

    &--telephone {
      @extend .fa-phone;
    }

    &--email {
      @extend .fa-envelope;
      display: none;

      @include respond-to(tablet) {
        display: inline-block;
      }      
    }

    &--account {
      @extend .fa-user;
      margin-right: 0;

      @include respond-to(tablet) {
        display: block;
        float: right;
      }
    }
  }
}
