<ul class="subnavigation subnavigation--brands">
    {% for brand in web.brands %}
        <li class="subnavigation__item">
            <a href="{{ path('brand_products', { id: brand.id, slug: brand.slug }) }}">
                {{ brand.name }}
            </a>
        </li>
    {% endfor %}
</ul>
