.account {
  @include clearfix;

  &__menu {
    @extend %type-small;

    a {
      color: $color-text-main;
      display: block;
      border-bottom: 1px solid $color-border-main;
      padding: .5rem;
    }

    &--selected {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  &__section {

  }

  @include respond-to(desktop) {
    $menu-width: 200px;

    &__menu {
      margin-top: 2rem;
      float: left;
      width: $menu-width;
    }

    &__section {
      float: right;
      width: calc(100% - #{$menu-width} - 50px);
    }
  }
}