.page--home {

  @include respond-to(desktop) {
    h1 {
      display: none;
    }
  }

  .intro {
    margin: 2.5rem auto;
    max-width: 900px;
  }

  .slider {
    position: relative;
    margin: auto;
    height: 300px;
    overflow: hidden;
  }

  .slider__text {
    color: #f2f2f2;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    bottom: 24px;
    background: rgba(0,0,0,0.54);
  }

  .boxed {
    background: $color-background-lighter;
    padding: 1.5rem 1.5rem .5rem;

    article {
      border: none;
    }
  }
}
