.page--my-orders {
  .order-entry {
    padding: .5rem 0;
    border-bottom: 1px solid $color-border-main;

    label {
      cursor: pointer;
    }

    &__downloads {
      float: right;
      margin: -1rem .5rem .5rem;
    }
  }
}
