{% extends '::web/standard_layout.html.twig' %}

{% block main %}
    <div style="text-align: center">
        <h1>{{ 'No se ha encontrado la pagina que buscaba'|trans }}</h1>

        <p class="intro">
            {{ 'Lamentablemente no se econtro esta página. Por favor use la navegación.'|trans }}
        </p>

        <div class="boxed">
            <h2>{{ 'Nuestras Promociones'|trans }}</h2>
            <div class="product-grid">
                {% include '@App/Web/Product/partials/product-list.html.twig'  with {'products': highlights } %}
            </div>
        </div>

        {% include 'AppBundle:Web/partial:product-carousel.html.twig' with {
            title: 'Nuestras Novedades',
            products: novelties
        } %}
    </div>
{% endblock %}