{% extends '::web/standard_layout.html.twig' %}

{% block main %}
    <h1>{{ 'Mi Pedido: Instrucciones de pago'|trans }}</h1>

    {% include '@App/Web/partial/order.html.twig'  with {
        'order': basket,
        'showDelivery': true,
        'summary': true,
        'paymentInstructions': true
    } %}

    <form action="{{ path('finalise-order') }}" method="POST">
        <button type="submit">{{ 'Finalizar pedido' | trans }}</button>
    </form>
{% endblock %}