{% extends '::web/standard_layout.html.twig' %}

{% block main %}
    <h1>{{ 'Mi Pedido: Revisar y Confirmar'|trans }}</h1>

    {% include '@App/Web/partial/order.html.twig'  with {
        'order': basket,
        'showDelivery': true,
        'summary': true,
        'paymentInstructions': true,
        'showAddresses': true
    } %}

    <form action="{{ path('finalise-order') }}" method="POST">
        <label for="userComments">{{ 'Instrucciones y comentarios'|trans }}</label>
        <textarea id="userComments" name="userComments"></textarea>
        <button type="submit">{{ 'Finalizar pedido' | trans }}</button>
    </form>
{% endblock %}