{% extends '::web/standard_layout.html.twig' %}

{% block main %}
    <h1>{{ 'Confirmación'|trans }}</h1>
    {% include '@App/Web/partial/order.html.twig'  with {
        'order': order,
        'showDelivery': true,
        'summary': true,
        'paymentInstructions': true,
        'showAddresses': true
    } %}

    <p>
        <a class="btn" href="{{ path('my-orders') }}">{{ 'Ir a mis pedidos' | trans }}</a>
    </p>
{% endblock %}