table {
  width: 100%;
  @extend %type-smaller;

  th,
  td {
    padding: .5rem;
    border-bottom: 1px solid $color-border-main;
  }

  th {
    padding: .75rem;
    border-top: none;
    line-height: 1.5;
    font-weight: bold;
  }
}
